.danhsach {
    background  : #fff;
    overflow-y  : scroll;
    font-size   : 16px;
    padding-left: 60px;

    .cuaso-dau {
        display   : flex;
        flex-wrap : wrap;
        background: #fff;
        height    : 50px;

        .cuaso-tieude {
            line-height  : 50px;
            font-size    : 20px;
            text-overflow: ellipsis;
            white-space  : nowrap;
            overflow     : hidden;
            padding-left : 20px;
            width        : 100%;
            color        : #45c3d2
        }

        .cuaso-dong,
        .nut-dong {
            position   : absolute;
            height     : 50px;
            width      : 50px;
            left       : 40px;
            line-height: 50px;
            text-align : center;
            border     : none;
            background : transparent;
            box-shadow : none;
            outline    : none;
            cursor     : pointer;
        }

        border-bottom: 1px solid #ccc;
    }

    .cuaso-noidung {
        .cosoyte-ds {
            ul {
                list-style-type: none;
                padding        : 0;
                margin         : 0;

                li {
                    display      : block;
                    overflow     : hidden;
                    padding      : 15px;
                    border-bottom: 1px solid #eee;
                    position     : relative;

                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }

                    img {
                        float       : left;
                        margin-right: 20px;
                        width       : 150px;
                    }

                    h3 {
                        display    : block;
                        line-height: 1.3em;
                        font-size  : 14px;
                        color      : #333;

                        &:hover {
                            text-decoration: none;
                            cursor         : pointer;
                            color          : #45c3d2
                        }
                    }
                }
            }
        }

    }
}