.login-backgound {
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height    : 100vh;

    .login-container {
        width           : 420px;
        height          : 420px;
        margin          : 0 auto;
        border-radius   : 10px;
        background-color: white;
        position        : absolute;
        position        : absolute;
        top             : 50%;
        left            : 50%;
        transform       : translate(-50%, -50%);
    }

    .login-content {
        padding: 10px;

        .text-login {
            font-size  : 24px;
            font-weight: 600;
            text-align : center;
            padding-top: 10px;
        }

        .login-input {
            margin: 7px 0;

            .custom-input-password {
                position: relative;

                i {
                    position: absolute;
                    right   : 5px;
                    top     : 10px;
                    cursor  : pointer;
                }
            }

            .btn-login {
                width        : 100%;
                margin       : 10px 0;
                height       : 35px;
                color        : white;
                font-size    : 16px;
                border-radius: 15px;
                border       : none;
                outline      : none;
                background   : linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .forgot-pass {
                font-size: 12px;
            }
        }

        .social-login {
            display        : flex;
            justify-content: center;
            margin-top     : 10px;

            .google {
                font-size      : 30px;
                background     : #c32424;
                color          : white;
                border-radius  : 50%;
                height         : 50px;
                width          : 50px;
                display        : flex;
                justify-content: center;
                align-items    : center;

            }

            .facebook {
                font-size      : 30px;
                background     : #307aff;
                color          : white;
                border-radius  : 50%;
                height         : 50px;
                width          : 50px;
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin-right   : 10px;
            }
        }
    }
}